.back{
	width: 100%;
	height: 100vh;
	padding-top: 180px;
	position: fixed;
}

.wrp{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -10;
	overflow: hidden;
}
.one{
	width: 20%;
	height: 60%;
	animation: moveOne 2s ;
}	
.two{
	width: 35%;
	height: 100%;
	animation: moveTwo 2s ;
}	
.three{
	width: 20%;
	height: 40%;
	animation: moveThree 2s ;	
}
.rect{
	background-color: rgb(255, 200, 0);
	position: absolute;	
	transform:skewX(-45deg);
	animation-fill-mode:forwards;	
}
@keyframes moveOne {
	from {
		left: 60%;
		top: -60%; 
	}
	to { 
		left: -10%;
		top:35%;
	}  
  }
@keyframes moveTwo {
from {
	left: -20%;
	bottom: -60%; 
}
to { 
	left: 25%;
	bottom:0;
}  
}
@keyframes moveThree {
	from {
		right: -50%;
		top: -60%; 
	}
	to { 
		right: -5%;
		top:0;
	}
}
.patternBack{
	width: 100%;
	height: 500px;
	background:
	-webkit-radial-gradient(black 50%, transparent 20%),rgba(255,255,255,0);
	background-size:5px 5px;
	display: flex;
	align-items: center;
}
.darkBack{
	width: 100%;
	height: 400px;	
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.peopleWrapper{
	position: absolute;
	width: 100%;
	height:100%;
	padding: 15px 0;
	z-index: 0;
}
.people{
	margin: 4px;
	opacity:0.3;
	fill: rgb(255, 255, 255);
	transition: opacity 1500ms ease;
}
.peopleAnimate{
	margin: 4px;
	opacity:1;
	fill: rgb(255, 200, 0);	
}

@media(max-width: 576px){
	.one{
		width: 40%;
		height: 60%;
		animation: moveOne 2s ;
	}	
	.two{
		width: 55%;
		height: 100%;
		animation: moveTwo 2s ;
	}	
	.three{
		width: 40%;
		height: 40%;
		animation: moveThree 2s ;	
	}
	.rect{
		background-color: rgb(255, 200, 0);
		position: absolute;	
		transform:skewX(-45deg);
		animation-fill-mode:forwards;	
	}
	@keyframes moveOne {
		from {
			left: -60%;
			bottom: -60%; 
		}
		to { 
			left: -20%;
			top:35%;
		}  
	  }
	@keyframes moveTwo {
	from {
		right: -120%;
		top: -40%; 
	}
	to { 
		right: -100%;
		bottom: 30%;
	}  
	}
	@keyframes moveThree {
		from {
			right: -50%;
			top: -60%; 
		}
		to { 
			right: 20%;
			top:0;
		}
	}
}