.back{
	width: 100%;
	height: 100vh;
	padding-top: 180px;
	position: absolute;
	z-index: 1;
}
.mainDarkBack{
	width: 860px;
	height: 300px;
	background:radial-gradient(transparent 20%, black 100%, transparent 20%),rgba(255,255,255,0);
	text-align: center;
	overflow: hidden;
	position: relative;
	margin: 100px auto 50px;
	z-index: 1;
}
.nameSocial{
	font-family: Intro;
	font-weight: 900;
	color: white;
	text-transform: uppercase;
	font-size: 140px;
}
.nameNetwork{
	font-family: Intro;
	font-weight: 400;
	color: rgb(255, 200, 0);
	text-transform: uppercase;
	font-size: 85px;
}
.oneB{
	width: 10px;
	height: 300px;
	animation: borderOne 1.5s ease;
	/* animation-delay: 3s; */
}
.twoB{
	width: 860px;
	height: 10px;
	animation: borderTwo 800ms ease;
}
.threeB{
	width: 10px;
	height: 300px;
	animation: borderThree 1.5s ease;
}
.fourB{
	width: 860px;
	height: 10px;
	animation: borderFour 800ms ease;
}
.borderAnimate{	
	position: absolute;
	background-color: white;	
	animation-fill-mode:forwards;	
}
@keyframes borderOne {
	from {
		left: 0;
		top: -300px; 
	}
	to { 
		left: 0;
		top: 0; 
	}
}
@keyframes borderTwo {
	from {
		right: -860px;
		bottom: 0; 
	}
	to { 
		right: 0;
		bottom: 0;  
	}
}
@keyframes borderThree {
	from {
		right: 0;
		top: -300px; 
	}
	to { 
		right: 0;
		top: 0; 
	}
}
@keyframes borderFour {
	from {
		left:-860px;
		top: 0; 
	}
	to { 
		left: 0;
		top: 0; 
	}
}
.friendsWrapper{
	/* padding: 20px 190px; */
	width: 860px;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.friend{
	width: 180px;
	height: 180px;
	border-radius: 50%;
}
.onePhoto{
	background-image: url(../../assets/photos/1.jpg);
	background-size: contain;
}
.twoPhoto{
	background-image: url(../../assets/photos/2.jpg);
	background-size: contain;
}
.threePhoto{
	background-image: url(../../assets/photos/3.jpg);
	background-size: contain;
}
.fourPhoto{
	background-image: url(../../assets/photos/4.jpg);
	background-size: contain;
}
@media(max-width: 576px){
	.mainDarkBack{
		width: 100%;		
	}
	.oneB{
		width: 10px;
		height: 200px;
		animation: borderOne 1.5s ease;
	}
	.twoB{
		width: 90%;
		height: 10px;
		animation: borderTwo 800ms ease;
	}
	.threeB{
		width: 10px;
		height: 200px;
		animation: borderThree 1.5s ease;
	}
	.fourB{
		width: 90%;
		height: 10px;
		animation: borderFour 800ms ease;
	}
	.borderAnimate{	
		position: absolute;
		background-color: white;	
		animation-fill-mode:forwards;	
	}
	@keyframes borderOne {
		from {
			left: 10px;
			top: -200px; 
		}
		to { 
			left: 10px;
			top: 0; 
		}
	}
	@keyframes borderTwo {
		from {
			right: -90%;
			bottom: 100px; 
		}
		to { 
			right: 20px;
			bottom: 100px;  
		}
	}
	@keyframes borderThree {
		from {
			right: 10px;
			top: -200px; 
		}
		to { 
			right: 10px;
			top: 0; 
		}
	}
	@keyframes borderFour {
		from {
			left:-90%;
			top: 0; 
		}
		to { 
			left: 20px;
			top: 0; 
		}
	}
	.friendsWrapper{
		
		width: 80%;
		margin: auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.friend{
		width: 70px;
		height: 70px;
		border-radius: 50%;
	}
	.nameSocial{
		font-family: Intro;
		font-weight: 900;
		color: white;
		text-transform: uppercase;
		font-size: 80px;
	}
	.nameNetwork{
		font-family: Intro;
		font-weight: 400;
		color: rgb(255, 200, 0);
		text-transform: uppercase;
		font-size: 55px;
	}
}