.bucket{
	background-color: transparent;   
    border-style: none;
    outline: none;
    cursor: pointer;
	fill: #fff;
	margin-left: 15px;
}
.bucketIcon{
	opacity: 0.3;
}

.bucketIcon:hover{
	opacity: 1;
	fill: rgb(255, 200, 0);
}