.header{
	width: 100%;
	height: 100px;
	background-color: rgba(0,0,0,.8);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 2;
}
.header:after{
	content: " ";
	height: 100%;
	clear: both;
}
.menu{
	max-width: 960px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menuIcon{
	fill:rgb(255, 200, 0);
	display: none;
}
.navbar{
	width: 550px;
	display: flex;
	justify-content: space-between;
	margin-right: 80px;
	color: white;
}
.menuItem{
	font-family: Intro;
	font-weight: 300;
	font-size: 15px;
	color: white;	
	text-decoration: none;	
	text-transform: uppercase;
}
.active{
	font-weight: 400;
	color: rgb(255, 200, 0);
}
.authBlock{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 230px;
}
.authLink{
	width: 100%;
    text-align: end;
	color: white;
	font-weight: 400;
}
.avatar{
	flex: 0 0 55px;
	height: 55px;
	border-radius: 50%;	
	background-size: cover;
}
.name{
	font-family: Intro;
	font-weight: 400;
	color: rgb(255, 200, 0);
}
.exit{
	background-color: transparent;
    height: 31px;
    border-style: none;
    outline: none;
    cursor: pointer;
    fill: #fff;
}
.exitIcon{
	opacity: 0.5;
}
.exitIcon:hover{
	opacity: 1;
	fill: rgb(255, 200, 0);
}
@media(max-width: 576px){
	 .header{
		padding: 30px;
		width: 100%;
		justify-content: space-between;		
	}
	.header:after{
		content: " ";
		height: 100%;
		clear: both;
	} 
	.menu{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	.menuIcon{
		fill:rgb(255, 200, 0);
		display: block;
		flex: 0 0 25px;
	}
	/* .menu nav{
		visibility: hidden;
	}  */
	.navbar{	
		visibility:hidden;
		display: flex;
		flex-direction: column;	
		color: white;
		position: absolute;
		top: 100px;
		left: -30px;
		width: 200px;
		background-color: rgba(0,0,0,.8);
	}
	.menuItem{
		padding: 15px 30px;
		font-family: Intro;
		font-weight: 300;
		font-size: 18px;
		color: white;	
		text-decoration: none;	
		text-transform: uppercase;
		border-bottom: 1px solid rgb(94, 94, 94);
	}
	.menuItem:last-child{
		border-bottom: none;
	}
	.active{
		font-weight: 400;
		color: rgb(255, 200, 0);
	}
	.authBlock{
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 200px;
	}
	.authLink{
		width: 100%;
		text-align: end;
		color: white;
		font-weight: 400;
	}
	.avatar{
		width: 55px;
		height: 55px;
		border-radius: 50%;	
		background-size: cover;
	}
	.name{
		font-family: Intro;
		font-weight: 400;
		color: rgb(255, 200, 0);
	}
	.exit{
		background-color: transparent;
		height: 31px;
		border-style: none;
		outline: none;
		cursor: pointer;
		fill: #fff;
	}
	.exitIcon{
		opacity: 0.5;
	}
	.exitIcon:hover{
		opacity: 1;
		fill: rgb(255, 200, 0);
	}
}